<div class="container">
  <footer>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-3">
        <h4>You can find us on:</h4>
        <ul>
          <li><strong>Twitter</strong> <a href="https://twitter.com/roma_js">@roma_js</a></li>
          <li><strong>Facebook</strong> <a href="https://www.facebook.com/romajs.org/">page</a></li>
          <li><strong>Youtube</strong> <a href="https://www.youtube.com/channel/UCFm8OPi5USbFybw9SaTLxeA">channel</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        
      </div>
      <div class="col-md-3">
        
      </div>
    </div>
  </footer>
</div>
