<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="page-header">
        <a class="logo" href="/">
          <img src="/assets/img/logo.jpg" alt="romajs-logo" class="img-rounded" width="42" />
        </a>
        <h2 class="header-title">RomaJS <small>JavaScript User Group based in Rome, Italy</small></h2>
      </div>
    </div>
  </div>
</div>
