<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <img src="{{urlPrefix}}/assets/img/logo.jpg" alt="romajs-logo" class="img-rounded our-logo img-responsive center-block" />
  </div>
</div>
<div class="row our-bio">
  <div class="our-name col-12">
    <h1>RomaJS</h1>
    <p>
      A javascript group meeting in Rome every third Wednesday of the month.<br />
      Catch the next meeting here: <a href="http://www.meetup.com/RomaJS/">http://www.meetup.com/RomaJS</a>
    </p>
  </div>
</div>
{{> footer }}
