<div class="row landing-body">
  <div class="col-md-12">
    <img src="/assets/img/logo.jpg" alt="romajs-logo" class="img-rounded our-logo" />
    <div class="our-name">
      <p>
        RomaJS
      </p>
    </div>
    <div class="our-bio">
      A javascript group meeting in Rome every third Wednesday of the month.
      <p>
        Catch the next meeting here: <a href="http://www.meetup.com/RomaJS/">http://www.meetup.com/RomaJS/</a>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{> socials }}
  </div>
</div>
