
<nav role="navigation">
  <ul class="romajs-nav-list">
    <li><a href="{{toAbsolute}}">Home</a></li>
    {{#each collections.pages}}
      <li><a href="{{toAbsolute path}}">{{title}}</a></li>
    {{/each}}
    <li><a href="{{toAbsolute 'blog'}}">Blog</a></li>
  </ul>
</nav>
