<!DOCTYPE html>
<html lang="en">
  {{> head }}
  <body>
    <div class="container-fluid">
      <div class="row nav-row">
        <div class="col-md-12">
          {{> nav }}
        </div>
      </div>
    </div>
    <div class="container content">
      {{> body }}
    </div>
    <div class="container footer">
      {{> footer }}
    </div>
    {{> jslibs }}
  </body>
</html>
