<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="/assets/js/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    {{> header }}
    {{> body }}
    {{> footer }}
  </body>
</html>
