@import 'vars';

@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../../node_modules/font-awesome/scss/font-awesome';

@import 'colors';
@import 'fonts';

body {
  background-color: $light-gray;
  font-family: $ubuntu;
}

.nav-row {
  background-color: $graphite;
}

.romajs-nav-list {
  @extend .list-inline;

  height: 50px;
  margin-bottom: 0;
  text-align: center;

  > li {
    font-size: $font-size-h4;
    line-height: 50px;
    margin: 0 20px;
    text-transform: uppercase;

    a {
      color: darken($light-gray, 15%);
      text-decoration: none;
    }

    a:hover {
      color: $light-gray;
    }
  }
}

.landing-body {
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center;

  .fa {
    @extend .fa-4x;
  }
}

.socials {
  text-align: center;

  a {
    color: $red-romajs;

    :hover {
      color: lighten($red-romajs, 20%);
    }
  }
}

.content {
  margin-bottom: 20px;
  margin-top: 20px;
  min-height: 600px;
}

.footer {
  border-top: 1px solid #eee;
  padding: 30px 0;
  margin-top: 16px;
  
  .fa {
    @extend .fa-3x;
  }
}
