@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../node_modules/bourbon/app/assets/stylesheets/bourbon';

ul {
  list-style-type: none;
}


.header-title {
  display: inline;
}

.page-header {
  .header-title {
    margin-left: 25px;
  }

  .logo {
    text-decoration: none;
  }

  img {
    vertical-align: text-bottom;
  }
}
